.order {
  &__inner {
    width: 100%;
    max-width: 408px;
  }
  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    color: #1c1c1c;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 400;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  &__price {
    font-size: 16px;
  }

  &__id {
    padding: 4px 8px;
    background-color: #eeeff2;
    border-radius: 32px;
    display: inline-block;
    margin-bottom: 20px;
    color: #1c1c1c;
    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }

  &__info {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__table {
    width: 100%;
  }

  &__table-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eeeff2;
  }

  &__table-item {
    padding: 8px 0;
    color: #969eae;
    &:last-child {
      color: #1c1c1c;
      text-align: right;
    }
  }

  &__button {
    color: #fff;
    background-color: #0044f0;
    width: 100%;
    padding: 12px 24px;
    border-radius: 32px;

    margin-top: 24px;
  }
}
.container {
}
