.product {
  padding: 24px 0 60px;
  &__container {
  }
  &__description {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (min-width: 768px) {
      gap: 40px;
    }
    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 12px;
    }
    @media (min-width: 1440px) {
      gap: 16px;
    }
  }
  &__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      font-size: 32px;
    }
    @media (min-width: 1024px) {
      margin-bottom: 40px;
    }
  }

  &__slider {
  }
  &__slider-image {
    margin-bottom: 14px;
    border-radius: 16px;
    @media (min-width: 768px) {
      margin-bottom: 12px;
    }
    @media (min-width: 15px) {
      margin-bottom: 40px;
    }
  }

  &__slider-image {
  }

  &__slider-thumbnails {
  }

  &__info {
  }

  &__info-price {
  }

  &__info-id {
  }

  &__info-table {
  }

  &__table {
  }

  &__table-row {
  }

  &__table-item {
  }

  &__button {
  }

  &__like-button {
  }
}
.container {
}
.products {
}

.slider-thumbnails {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    gap: 14px;
  }
  @media (min-width: 1024px) {
    gap: 12px;
  }
  @media (min-width: 1440px) {
    gap: 16px;
  }
}
